.siimple-textarea, .siimple-input, .siimple-select {
    font-size: 16px;
}

.siimple-btn {
    margin-right: 5px;
}

.button-bar-bottom {
    margin-top: 5px;
}

.button-bar-top {
    margin-bottom: 5px;
}

.spinner-container {
    position: relative;
}
.siimple-spinner {
    position: absolute;
    bottom: 50%;
    left: 50%;
}